<h1>Lista de produtos</h1>

<nz-table #basicTable [nzData]="data">
    <thead>
      <tr>
        <th>Nome do item</th>
        <th>Unidade de medida</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Produto perecivel</th>
        <th>Data de validade</th>
        <th>Data de fabricaçao</th>
        <th>Vencido</th>
        <th>Açoes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.nomeItem}}</td>
        <td>{{data.unidadeMedida}}</td>
        <td>
          {{
          data.unidadeMedida === 'QUILOGRAMA' ? data.quantidade + ' kg' : '' ||
          data.unidadeMedida === 'UNIDADE' ? data.quantidade + ' un' : '' ||
          data.unidadeMedida === 'LITRO' ? data.quantidade + ' lt' : ''
          }}
        </td>
        <td>{{'R$ '+data.preco}}</td>
        <td>{{data.produtoPerecivel === 'true' ? 'Sim' : 'Não'}}</td>
        <td>{{formatDate(data.dataValidade)}}</td>
        <td>{{formatDate(data.dataFabricacao)}}</td>
        <td>{{getExpiredProduct(data) ? 'Sim' : 'Não'}}</td>
        <td>
          <a (click)="onEdit(data)">Alterar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)=showDeleteConfirm(data)>Deletar</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
