<nz-table nzBordered>
    <thead>
        <th>Nome do item</th>
        <th>Unidade de medida</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Produto perecível</th>
        <th>Data de validade</th>
        <th>Data de fabricação</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</nz-table>