<h1>Lista de produtos</h1>
<div>
<nz-table #basicTable [nzData]="data" [nzShowPagination]="false" [nzScroll]="{ x: '1550px' }">
    <thead>
      <tr>
        <th nzWidth="100px" nzLeft="0px">Nome do item</th>
        <th nzWidth="100px">Unidade de medida</th>
        <th nzWidth="100px">Quantidade</th>
        <th nzWidth="100px">Preço</th>
        <th nzWidth="100px">Produto perecivel</th>
        <th nzWidth="100px">Data de validade</th>
        <th nzWidth="100px">Data de fabricaçao</th>
        <th nzWidth="100px">Vencido</th>
        <th nzWidth="100px" nzRight="0px">Açoes</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td nzLeft="0px">{{data.nomeItem}}</td>
        <td>{{data.unidadeMedida}}</td>
        <td>
          {{
          data.unidadeMedida === 'QUILOGRAMA' ? data.quantidade + ' kg' : '' ||
          data.unidadeMedida === 'UNIDADE' ? data.quantidade + ' un' : '' ||
          data.unidadeMedida === 'LITRO' ? data.quantidade + ' lt' : ''
          }}
        </td>
        <td>{{'R$ '+data.preco}}</td>
        <td>{{data.produtoPerecivel === 'true' ? 'Sim' : 'Não'}}</td>
        <td>{{formatDate(data.dataValidade)}}</td>
        <td>{{formatDate(data.dataFabricacao)}}</td>
        <td>{{getExpiredProduct(data) ? 'Sim' : 'Não'}}</td>
        <td nzRight="0px">
          <a (click)="onEdit(data)">Alterar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)=showDeleteConfirm(data)>Deletar</a>
        </td>
      </tr>
    </tbody>
</nz-table>

<button nz-button nzType="primary" style="margin-top: 20px;" (click)="novoCadastro()">Novo Produto</button>

