<h1>Cadastro do produto</h1>

<div [formGroup]="cadastroForm" >
    <div nz-row nzGutter="16">
        <div nz-col nzSpan="9" >
            <nz-form-item>
                <nz-form-label>Nome do item</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="nomeItem" maxlength="50"/>
                </nz-form-control>
                    <div *ngIf="submitted && f.nomeItem.errors">
                        <div *ngIf="f.nomeItem.errors.required" class="mensagem">Campo obrigatório!</div>
                    </div>
            </nz-form-item>
        </div>
    </div>

    <div nz-row nzGutter="16">
        <div nz-col nzSpan="3">
            <nz-form-item>
                <nz-form-label>Unidade de medida</nz-form-label>
                <nz-form-control>
                    <nz-select formControlName="unidadeMedida" nzPlaceHolder="Selecione uma opção" nzShowSearch style="width: 170px;">
                        <nz-option *ngFor="let unidade of unidadeMedida" [nzValue]="unidade.value" [nzLabel]="unidade.label"></nz-option>
                    </nz-select>
                </nz-form-control>
                    <div *ngIf="submitted && f.unidadeMedida.errors">
                        <div *ngIf="f.unidadeMedida.errors.required" class="mensagem">Campo obrigatório!</div>
                    </div>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="3">
            <nz-form-item>
                <nz-form-label>Quantidade</nz-form-label>
                <nz-form-control>
                    <nz-input-number formControlName="quantidade" [nzStep]="stepUnidade" style="width: 170px;"
                    [nzFormatter]="formatterUnidade" [nzParser]="parserUnidade"></nz-input-number>
                </nz-form-control>
                    <div *ngIf="submitted && f.quantidade.errors">
                        <div *ngIf="f.quantidade.errors.required" class="mensagem">Campo obrigatório!</div>
                    </div>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="3">
            <nz-form-item>
                <nz-form-label>Preço</nz-form-label>
                <nz-form-control>
                    <nz-input-number formControlName="preco" [nzFormatter]="formatterReal" [nzParser]="parserReal" style="width: 170px;"></nz-input-number>
                </nz-form-control>
                    <div *ngIf="submitted && f.preco.errors">
                        <div *ngIf="f.preco.errors.required" class="mensagem">Campo obrigatório!</div>
                    </div>
            </nz-form-item>
        </div>
    </div>

    <div nz-row nzGutter="16">
        <div nz-col nzSpan="8">
            <nz-form-item>
                <nz-form-label>Produto perecível</nz-form-label>
                    <nz-radio-group formControlName="produtoPerecivel">
                        <label nz-radio nzValue="true">Sim</label>
                        <label nz-radio nzValue="false">Não</label>
                    </nz-radio-group>
                    <div *ngIf="submitted && f.produtoPerecivel.errors">
                        <div *ngIf="f.produtoPerecivel.errors.required" class="mensagem">Campo obrigatório!</div>
                    </div>
            </nz-form-item>
        </div>
    </div>

    <div nz-row nzGutter="16">
        <div nz-col nzSpan="3">
            <nz-form-item>
                <nz-form-label>Data de validade</nz-form-label>
                <nz-form-control>
                    <nz-date-picker formControlName="dataValidade" [nzFormat]="dateFormat" style="width: 150px;" ></nz-date-picker>
                </nz-form-control>
                    <div *ngIf="submitted && f.dataValidade.errors">
                        <div *ngIf="f.dataValidade.errors.required" class="mensagem">Campo obrigatório!</div>
                    </div>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="3">
            <nz-form-item>
                <nz-form-label>Data de fabricação</nz-form-label>
                <nz-form-control>
                        <nz-date-picker formControlName="dataFabricacao" [nzFormat]="dateFormat" style="width: 150px;"></nz-date-picker>
                </nz-form-control>
                    <div *ngIf="submitted && f.dataFabricacao.errors">
                        <div *ngIf="f.dataFabricacao.errors.required" class="mensagem">Campo obrigatório!</div>
                    </div>
            </nz-form-item>
        </div>
    </div>

    <button class="btn-salvar" nz-button nzType="primary" (click)="onSubmit()">Salvar</button>
    <button class="btn-cancelar" nz-button nzType="default" (click)="onCancel()">Cancelar</button>
</div>
