.mensagem {
    color: red;
}

nz-form-label {
    color: black;
    font-size: 15px;
}

.btn-salvar {
    margin-top: 50px;
    margin-right: 10px;
    width: 100px;
}

.btn-cancelar {
    width: 100px;
}
